{% extends 'layout/partials/_content.html' %}

{% block css %}
{% endblock %}

{% block content %}
<div class="flex grow">
    <div class="wrapper flex grow flex-col">
        <header class="header top-0 z-10 left-0 right-0 flex items-stretch shrink-0 bg-[#fefefe] dark:bg-coal-500"
            data-sticky="true" data-sticky-class="shadow-sm dark:border-b dark:border-b-coal-100"
            data-sticky-name="header" id="header">
            <!-- begin: container -->
            <div class="container-fixed flex justify-between items-stretch lg:gap-4" id="header_container">
                <div class="flex gap-1 lg:hidden items-center -ml-1">
                    <a class="shrink-0" href="html/demo1.html">
                        <img class="max-h-[25px] w-full" src="assets/media/app/mini-logo.svg" />
                    </a>
                    <div class="flex items-center">
                        <button class="btn btn-icon btn-light btn-clear btn-sm" data-drawer-toggle="#sidebar">
                            <i class="ki-filled ki-menu">
                            </i>
                        </button>
                    </div>
                </div>
                <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0"
                    data-reparent="true" data-reparent-mode="prepend|lg:prepend"
                    data-reparent-target="#content_container|lg:#header_container">
                    <span class="text-gray-700 flex text-center mt-2">
                        <img src="https://cdn-static.globodain.com/softcamp/logos/favicon" class="me-2" width="40" height="40"/>
                    </span>
                </div>
                {#
                <div class="flex items-center">
                    <div class="menu" data-menu="true">
                        <div class="menu-item" data-menu-item-offset="20px, 10px" data-menu-item-placement="bottom-end"
                            data-menu-item-toggle="dropdown" data-menu-item-trigger="click|lg:click">
                            <a href="/logout" class="menu-toggle btn btn-sm btn-primary">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
                #}
            </div>
            <!-- end: container -->
        </header>

        <main class="grow content pt-5" id="content" role="content">
            <!-- begin: container -->
            <div class="container-fixed" id="content_container">
            </div>
            <!-- end: container -->
            <!-- begin: container -->
            <div class="container-fixed">
                <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
                    <div class="flex flex-col justify-center gap-2">
                        <h1 class="text-xl font-semibold leading-none text-gray-900">
                            SoftCamp for Developers
                        </h1>
                        <div class="flex items-center gap-2 text-sm font-medium">
                            <span class="text-gray-600">
                                Find the resources you need to work with us
                            </span>
                            <span class="size-0.75 bg-gray-600 rounded-full">
                            </span>
                            <a class="font-semibold btn btn-link link" href="/documentation">
                                API Documentation
                            </a>
                            <span class="size-0.75 bg-gray-600 rounded-full">
                            </span>
                            <a class="font-semibold btn btn-link link" href="/endpoints">
                                Endpoints
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: container -->

            <div class="container-fixed py-5">
                <div class="card mb-3 shadow-none border-0">
                    <div class="flex flex-col gap-1">
                        <i class="ki-filled ki-user-square text-2xl text-primary mb-1.5">
                        </i>
                        <div class="flex flex-col gap-3">
                            <h3 class="text-base font-semibold leading-none text-gray-900">
                                About SoftCamp
                            </h3>
                            <div class="text-2sm font-medium text-gray-600 leading-5">
                                Let us explain everything about SoftCamp and the market in which it operates to make your work as efficient as possible, based on real guidelines and business knowledge.
                            </div>
                        </div>
                        <div class="flex items-center flex-wrap">
                            <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                Our market
                            </a>
                            <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                            </span>
                            <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                Market problem
                            </a>
                            <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                            </span>
                            <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                Value proposition
                            </a>
                            <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                            </span>
                            <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                Software operation
                            </a>
                            <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                            </span>
                            <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                Business vision
                            </a>
                            <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- begin: container -->
            <div class="container-fixed">
                <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 lg:gap-7.5">
                    <div class="card p-5 lg:px-7 lg:py-6">
                        <div class="flex flex-col gap-2.5">
                            <i class="ki-filled ki-user-square text-2xl text-primary mb-1.5">
                            </i>
                            <div class="flex flex-col gap-3">
                                <h3 class="text-base font-semibold leading-none text-gray-900">
                                    Business
                                </h3>
                                <div class="text-2sm font-medium text-gray-600 leading-5">
                                    How a business is structured and why everything revolves around it.
                                </div>
                            </div>
                            <div class="flex items-center flex-wrap">
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    What is a business
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Areas
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Onboarding
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Subscription
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Seasons
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Settings
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card p-5 lg:px-7 lg:py-6">
                        <div class="flex flex-col gap-2.5">
                            <i class="ki-filled ki-subtitle text-2xl text-primary mb-1.5">
                            </i>
                            <div class="flex flex-col gap-3">
                                <h3 class="text-base font-semibold leading-none text-gray-900">
                                    Teams
                                </h3>
                                <div class="text-2sm font-medium text-gray-600 leading-5">
                                    Teamwork is crucial for business efficiency and control. Increases team profitability and happiness
                                </div>
                            </div>
                            <div class="flex items-center flex-wrap">
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Users
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Roles
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Permissions
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Invitations
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Persons
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card p-5 lg:px-7 lg:py-6">
                        <div class="flex flex-col gap-2.5">
                            <i class="ki-filled ki-key-square text-2xl text-primary mb-1.5">
                            </i>
                            <div class="flex flex-col gap-3">
                                <h3 class="text-base font-semibold leading-none text-gray-900">
                                    Services
                                </h3>
                                <div class="text-2sm font-medium text-gray-600 leading-5">
                                    All services that a business can offer are registered and associated in the corresponding sections of the software, offering a 100% customizable experience.
                                </div>
                            </div>
                            <div class="flex items-center flex-wrap">
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Sections
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Services
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Accommodations
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Interactive Map
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Prices
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card p-5 lg:px-7 lg:py-6">
                        <div class="flex flex-col gap-2.5">
                            <i class="ki-filled ki-chart-pie-3 text-2xl text-primary mb-1.5">
                            </i>
                            <div class="flex flex-col gap-3">
                                <h3 class="text-base font-semibold leading-none text-gray-900">
                                    Bookings
                                </h3>
                                <div class="text-2sm font-medium text-gray-600 leading-5">
                                    How reservations relate to the different parts of our management software
                                </div>
                            </div>
                            <div class="flex items-center flex-wrap">
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    What is a booking
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Payments
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Transactions
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Invoices
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Services
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Users
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card p-5 lg:px-7 lg:py-6">
                        <div class="flex flex-col gap-2.5">
                            <i class="ki-filled ki-calendar-tick text-2xl text-primary mb-1.5">
                            </i>
                            <div class="flex flex-col gap-3">
                                <h3 class="text-base font-semibold leading-none text-gray-900">
                                    Channel Manager
                                </h3>
                                <div class="text-2sm font-medium text-gray-600 leading-5">
                                    How bookings are distributed through digital channels. Receiving, sending and updating data
                                </div>
                            </div>
                            <div class="flex items-center flex-wrap">
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    What is a Channel Manager
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    About SiteMinder
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Booking engine
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Getting data
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Sending data
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Updating customer information
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card p-5 lg:px-7 lg:py-6">
                        <div class="flex flex-col gap-2.5">
                            <i class="ki-filled ki-calendar-tick text-2xl text-primary mb-1.5">
                            </i>
                            <div class="flex flex-col gap-3">
                                <h3 class="text-base font-semibold leading-none text-gray-900">
                                    Others
                                </h3>
                                <div class="text-2sm font-medium text-gray-600 leading-5">
                                    Other relevant information to be displayed
                                </div>
                            </div>
                            <div class="flex items-center flex-wrap">
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Business repository
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    User repository
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    Third parties
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                                <a class="text-2sm font-medium text-primary hover:text-primary mb-1" href="#">
                                    How works with Stripe
                                </a>
                                <span class="h-3.5 border-l border-l-gray-300 last-of-type:hidden mx-2 mb-1">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end: container -->
        </main>

        <footer class="footer">
            <!-- begin: container -->
            <div class="container-fixed">
                <div class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5">
                    <div class="flex order-2 md:order-1 gap-2 font-normal text-2sm">
                        <span class="text-gray-500">
                            2024©
                        </span>
                        <a class="text-gray-600 hover:text-primary" href="https://softcamp.eu">
                            SoftCamp
                        </a>
                    </div>
                    <nav class="flex order-1 md:order-2 gap-4 font-normal text-2sm text-gray-600">
                        <a class="hover:text-primary" href="https://app.softcamp.eu/">
                            Application
                        </a>
                        <a class="hover:text-primary" href="https://devs.softcamp.eu/terms">
                            Terms & conditions
                        </a>
                        <a class="hover:text-primary" href="mailto:team@globodain.com">
                            Support
                        </a>
                    </nav>
                </div>
            </div>
            <!-- end: container -->
        </footer>
    </div>
</div>
{% endblock %}