{% extends 'layout/partials/_content.html' %}

{% block css %}
{% endblock %}

{% block body_content %}
<div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
    <div class="card max-w-[370px] w-full" style="margin-top: 5rem;">
     <form action="/authentication" method="post" class="card-body flex flex-col gap-5 p-10" id="sign_in_form">
      <div class="text-center mb-2.5">
       <div class="flex items-center justify-center font-medium py-3">
        <img src="https://cdn-static.globodain.com/softcamp/logos/favicon" width="50" height="50" class="my-3">
       </div>
       <h3 class="text-lg font-semibold text-gray-900 leading-none mb-2.5">
        Sign in to SoftCamp Dev
       </h3>
      </div>

      <div class="flex flex-col gap-1">
       <label class="form-label text-gray-900">
        Email
       </label>
       <input class="input" placeholder="email@email.com" type="text" name="email" value=""/>
      </div>
      <div class="flex flex-col gap-1">
       <div class="flex items-center justify-between gap-1">
        <label class="form-label text-gray-900">
         Password
        </label>
        <a class="text-2sm link shrink-0" href="mailto:ruben@globodain.com">
         Forgot Password?
        </a>
       </div>
       <label class="input" data-toggle-password="true">
        <input name="password" placeholder="Enter Password" type="password" value=""/>
        <button class="btn btn-icon" data-toggle-password-trigger="true">
         <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden">
         </i>
         <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block">
         </i>
        </button>
       </label>
      </div>

      <button class="btn btn-primary flex justify-center grow">
       Sign In
      </button>
     </form>
    </div>
</div>
{% endblock %}